[submodule "github.com/powerline-fonts"]
	path = github.com/powerline/fonts
	url = git@github.com:powerline/fonts.git
[submodule "github.com/plugins/zsh-autosuggestions"]
	path = zsh_custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "github.com/plugins/zsh-syntax-highlighting"]
	path = zsh_custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "github.com/plugins/F-Sy-H"]
	path = zsh_custom/plugins/F-Sy-H
	url = git@github.com:zdharma/fast-syntax-highlighting.git
[submodule "github.com/plugins/zsh-autocomplete"]
	path = zsh_custom/plugins/zsh-autocomplete
	url = git@github.com:marlonrichert/zsh-autocomplete.git
[submodule "github.com/orland0m/shell-utils"]
	path = github.com/orland0m/shell-utils
	url = git@github.com:orland0m/shell-utils.git
